<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/toastr.min.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/datatables.min.css') }}"
/>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/sweetalert2.min.css') }}"
/>
</head>
<body>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>País</th>
                <th>Capital</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
            <tr>
                <td>{{ pais.pais }}</td>
                <td>{{ pais.capital }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>