{%extends "base.html"%}

{%block titulo%}Inicio{%endblock%}

{%block contenido%}
<h1 class="mt-2 p-2 text-center">Inicio</h1>
<hr />

<form action="/login_usuario" method="POST">
    <label class="mt-2">Email:</label>
    <input type="email" name="email" class="form-control" />

    <label class="mt-2">Contraseña</label>
    <input type="password" name="password" class="form-control" />

    <input
        type="submit"
        value="Entrar al sistema"
        class="btn btn-primary mt-3"
    />
</form>
{%endblock%}

{%block mis_scripts%}
<script>
    toastr.success("Bienvenido a la aplicación mensajes flash", "Esta todo OK");
    toastr.info("Bienvenido a la aplicación mensajes flash", "Esta todo OK");
    toastr.error("Bienvenido a la aplicación mensajes flash", "Esta todo OK");
    toastr.warning("Bienvenido a la aplicación mensajes flash", "Esta todo OK");
</script>
{%endblock%}

